
body {
    background-color: #C0DEED;
/*    background-color: #FBAB5B;*/
/*    color:white;*/
}

#centerdiv {
    background-color: #C0DEED;
    width: 60%;
    height:80%;
    border-radius: 20px;
    padding: 3%;
    position: absolute;
    top:10%;
    left:20%;
}

#delta_logo {
    position:absolute;
    right:5%;
    bottom:5%;
    width:5%;
    height: 13%;
}

#comp_logo {
    position: absolute;
    top: 5%;
    left: 3%;
    width:10%;
    height:10%;
}

#name {
    background-color: #8EC1DA;
/*    background-color: #FBAB5B;*/
    width:auto;
    height:auto;
    border-radius: 5px;
    padding:5px;
    font-size: 23px;
    color: #0084B4;
/*    color:white;*/
    float: left;

}

#id {
    width:auto;
    height:auto;
    border-radius: 5px;
    padding:5px;
    font-size: 19px;
    color: #0084B4;
/*    color:white;*/
    float: left;
}

#user {
    width:auto;
    height:auto;
    border-radius: 5px;
    padding:5px;
    font-size: 21px;
    color: #0084B4;
    position:absolute;
    top:20%;
    left:10%;
}

#data {
    background-color: #C5E3F2;
/*    background-color: #FBAB5B;*/
    width:80%;
    max-width:80%;
    height: auto;
    border-radius: 8px;
    font-size: 17px;

    padding: 15px;


    position: absolute;
    top:40%;
    left:10%;
    right:auto;
}

#prop {
    color: #0048B4;
    position: absolute;
    bottom:20%;
    right:10%;
    width:30%;
    height: 14px;
    font-size: 14px;

}

#openq {
    position:absolute;
    top:0;
    height: 25%;
    width: 8%;
    float:left;
}

#closeq {
    position:absolute;
    height: 25%;
    width: 8%;
    bottom:0;
    float: right;
}

#tweet-text {
    text-align: justify;
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
    height: auto;
    font-size: 20px;
    color: #0084B4;
}

#fav {
    position:relative;
    float:left;
    display: none;
}

#ret {
    position: relative;
    float:right;
    display: none;
}

#ret_cnt {
    float: right;
}

#fav_cnt {
    float: right;
}

#fest_logo {
        position:absolute;
    left:5%;
    bottom:5%;
    width:5%;
    height: 13%;
}
